<md-content style="min-width:500px;max-width:500px">

  <md-subheader class="md-no-sticky">{{:: 'ui.options.general' | translate }}</md-subheader>

  <md-list-item md-no-ink>
    <p>{{:: 'ui.options.gameplay.controlOnBlur' | translate }}</p>
    <md-checkbox ng-model="options.data.values.unfocusedInput" ng-change="options.applyState()"></md-checkbox>
  </md-list-item>

  <md-list-item md-no-ink>
    <md-tooltip md-direction="right">{{:: 'ui.options.gameplay.noSteer.tooltip' | translate }}</md-tooltip>
    <p>{{:: 'ui.options.gameplay.noSteer' | translate }}</p>
    <md-checkbox ng-model="options.data.values.disableSteeringwheel" ng-change="options.applyState()"></md-checkbox>
  </md-list-item>

  <md-divider></md-divider>
  <md-subheader class="md-no-sticky">Replay</md-subheader>

  <md-list-item md-no-ink>
    <p>Interpolate vehicle position</p>
    <md-checkbox ng-model="options.data.values.interpolatePosition" ng-change="options.applyState()"></md-checkbox>
  </md-list-item>

  <md-list-item ng-hide="options.shipping" md-no-ink>
    <p>^ use alt</p>
    <md-checkbox ng-model="options.data.values.interpolateAlternative" ng-change="options.applyState()"></md-checkbox>
  </md-list-item>

  <md-list-item ng-hide="options.shipping" md-no-ink>
    <p>Interpolate all alt</p>
    <md-checkbox ng-model="options.data.values.interpolateFull" ng-change="options.applyState()"></md-checkbox>
  </md-list-item>

  <md-list-item ng-hide="options.shipping" md-no-ink>
    <p>Misc lua</p>
    <md-checkbox ng-model="options.data.values.interpolateLua" ng-change="options.applyState()"></md-checkbox>
  </md-list-item>

  <md-list-item ng-hide="options.shipping" layout class="md-padding" style="padding-top:0; padding-bottom:0">
    <p flex="30">Compression level</p>
    <md-slider flex
      ng-model="options.data.values.replayLevel" min="-1" max="22" step="1" aria-label="_"
      ng-change="options.applyState()">
    </md-slider>
    <span style="margin-left:15px">{{ options.data.values.replayLevel }}</span>
  </md-list-item>

  <md-list-item md-no-ink>
    <p>Enable full vehicle transparency playback</p>
    <md-checkbox ng-model="options.data.values.replayAlpha" ng-change="options.applyState()"></md-checkbox>
  </md-list-item>

  <md-divider></md-divider>
  <md-subheader class="md-no-sticky">{{:: 'ui.options.utilities' | translate }}</md-subheader>

  <md-list-item md-no-ink>
    <p>{{:: 'ui.options.utilities.outgaugeSupport' | translate }}</p>
    <md-checkbox ng-model="options.data.values.outgaugeEnabled" ng-change="options.applyState()"></md-checkbox>
    <md-tooltip md-direction="right">OutGauge is a special protocol to drive external utilities. Please reload your vehicle if you change any of the OutGauge options.</md-tooltip>
  </md-list-item>
  <md-list-item md-no-ink ng-show="options.data.values.outgaugeEnabled">
    <md-tooltip md-direction="right">Please reload your vehicle if you change any of the OutGauge options.</md-tooltip>
    <md-input-container>
      <label>IP</label>
      <input flex type="text" ng-model="options.data.values.outgaugeIP" ng-change="options.applyState()">
    </md-input-container>
    <md-input-container>
      <label>Port</label>
      <input flex type="text" ng-model="options.data.values.outgaugePort" ng-change="options.applyState()">
    </md-input-container>
  </md-list-item>

  <md-list-item md-no-ink>
    <p>{{:: 'ui.options.utilities.highPerformancePlan' | translate }}</p>
    <md-checkbox ng-model="options.data.values.HighPerformancePlan" ng-change="options.applyState()"></md-checkbox>
    <md-tooltip md-direction="right">This will force your PC to enable the High Performance Plan of your OS on startup.</md-tooltip>
  </md-list-item>

  <md-list-item md-no-ink ng-show="false"> <!-- hidden from view until logitech fix their drivers -->
    <p>{{:: 'ui.options.utilities.g27ShiftLed' | translate }}</p>
    <md-checkbox ng-model="options.data.values.rpmLedsEnabled" ng-change="options.applyState()"></md-checkbox>
  </md-list-item>
  <div class="md-padding" ng-if="options.data.values.rpmLedsEnabled" layout="column" layout-align="center center" ng-show="false"> <!-- hidden from view until logitech fix their drivers -->
      <strong style="color:#dd3333">WARNING:</strong>
      <span>Steering angle and force feedback may behave unpredictably in conjunction with LEDs. Use at your own risk.</span>
  </div>

  <md-divider></md-divider>
  <md-subheader class="md-no-sticky">{{:: 'ui.options.motionSim' | translate }}</md-subheader>

  <md-list-item md-no-ink>
    <p>{{:: 'ui.options.motionSim.enabled' | translate }}</p>
    <md-checkbox ng-model="options.data.values.motionSimEnabled" ng-change="options.applyState()"></md-checkbox>
    <md-tooltip md-direction="right">Enable to make the game send motion platform data</md-tooltip>
  </md-list-item>
  <md-list-item md-no-ink ng-show="options.data.values.motionSimEnabled">
    <md-input-container>
      <label>IP</label>
      <input flex type="text" ng-model="options.data.values.motionSimIP" ng-change="options.applyState()">
    </md-input-container>
    <md-input-container>
      <label>Port</label>
      <input flex type="text" ng-model="options.data.values.motionSimPort" ng-change="options.applyState()">
    </md-input-container>
  </md-list-item>

  <md-list-item layout class="md-padding" style="padding-top:0; padding-bottom:0" ng-show="options.data.values.motionSimEnabled">
    <p flex="30">{{:: 'ui.options.motionSim.updateRate' | translate }}</p>
    <md-slider flex
      ng-model="options.data.values.motionSimHz" min="50" max="2000" step="50" aria-label="_"
      ng-change="options.applyState()">
    </md-slider>
    <span style="margin-left:15px">{{ options.data.values.motionSimHz }}</span>
  </md-list-item>
  
  <md-list-item layout class="md-padding" style="padding-top:0; padding-bottom:0" ng-show="options.data.values.motionSimEnabled">
    <p flex="300">{{:: 'ui.options.motionSim.accelerationSmoothing' | translate }}</p>
 
  </md-list-item>
  
  <md-list-item layout class="md-padding" style="padding-top:0; padding-bottom:0" ng-show="options.data.values.motionSimEnabled">
    <p flex="30">{{:: 'ui.options.motionSim.accelerationSmoothingX' | translate }}</p>
    <md-slider flex
      ng-model="options.data.values.motionSimAccelerationSmoothingX" min="0" max="200" step="5" aria-label="_"
      ng-change="options.applyState()">
    </md-slider>
    <span style="margin-left:15px">{{ options.data.values.motionSimAccelerationSmoothingX }}</span>
  </md-list-item>
  <md-list-item layout class="md-padding" style="padding-top:0; padding-bottom:0" ng-show="options.data.values.motionSimEnabled">
    <p flex="30">{{:: 'ui.options.motionSim.accelerationSmoothingY' | translate }}</p>
    <md-slider flex
      ng-model="options.data.values.motionSimAccelerationSmoothingY" min="0" max="200" step="5" aria-label="_"
      ng-change="options.applyState()">
    </md-slider>
    <span style="margin-left:15px">{{ options.data.values.motionSimAccelerationSmoothingY }}</span>
  </md-list-item>
  <md-list-item layout class="md-padding" style="padding-top:0; padding-bottom:0" ng-show="options.data.values.motionSimEnabled">
    <p flex="30">{{:: 'ui.options.motionSim.accelerationSmoothingZ' | translate }}</p>
    <md-slider flex
      ng-model="options.data.values.motionSimAccelerationSmoothingZ" min="0" max="200" step="5" aria-label="_"
      ng-change="options.applyState()">
    </md-slider>
    <span style="margin-left:15px">{{ options.data.values.motionSimAccelerationSmoothingZ }}</span>
  </md-list-item>

  <md-list-item layout class="md-padding" style="padding-top:0; padding-bottom:0" ng-show="options.data.values.motionSimEnabled">
    <p flex="300">{{:: 'ui.options.motionSim.accelerationSmoothing' | translate }}</p>

  </md-list-item>

  <md-list-item layout class="md-padding" style="padding-top:0; padding-bottom:0" ng-show="options.data.values.motionSimEnabled">
    <p flex="30">{{:: 'ui.options.motionSim.accelerationSmoothingX' | translate }}</p>
    <md-slider flex
      ng-model="options.data.values.motionSimAccelerationSmoothingX" min="0" max="200" step="5" aria-label="_"
      ng-change="options.applyState()">
    </md-slider>
    <span style="margin-left:15px">{{ options.data.values.motionSimAccelerationSmoothingX }}</span>
  </md-list-item>
  <md-list-item layout class="md-padding" style="padding-top:0; padding-bottom:0" ng-show="options.data.values.motionSimEnabled">
    <p flex="30">{{:: 'ui.options.motionSim.accelerationSmoothingY' | translate }}</p>
    <md-slider flex
      ng-model="options.data.values.motionSimAccelerationSmoothingY" min="0" max="200" step="5" aria-label="_"
      ng-change="options.applyState()">
    </md-slider>
    <span style="margin-left:15px">{{ options.data.values.motionSimAccelerationSmoothingY }}</span>
  </md-list-item>
  <md-list-item layout class="md-padding" style="padding-top:0; padding-bottom:0" ng-show="options.data.values.motionSimEnabled">
    <p flex="30">{{:: 'ui.options.motionSim.accelerationSmoothingZ' | translate }}</p>
    <md-slider flex
      ng-model="options.data.values.motionSimAccelerationSmoothingZ" min="0" max="200" step="5" aria-label="_"
      ng-change="options.applyState()">
    </md-slider>
    <span style="margin-left:15px">{{ options.data.values.motionSimAccelerationSmoothingZ }}</span>
  </md-list-item>

</md-content>
