<style>
  .top-level-thing ng-md-icon.bng-grid-icon > svg { padding: 10px; }
  .top-level-thing md-grid-tile-footer figcaption { width: 100%; }
  .top-level-thing md-grid-tile-footer figcaption h2 { width: 100%; text-align: center; }
  .top-level-thing md-grid-tile { cursor: pointer; }
  .top-level-thing md-grid-tile { opacity: 0.93; }
  .top-level-thing md-grid-tile:hover { opacity: 1.0;  }
  .top-level-thing.opaque { background-color: white; }
  .top-level-thing .disabled { opacity: 0.7; cursor: not-allowed !important; }
  .top-level-thing .disabled:hover { opacity: 0.7; cursor: not-allowed !important; }
  .top-level-thing.transparent { background-color: transparent; }
</style>

<md-content layout-fill style="height:100%; width:100%;" layout="row" layout-align="space-around center" class="top-level-thing transparent">
  <div flex="60" flex-lg="40" flex-gt-lg="50" style="max-width: 1400px;">
    <md-grid-list md-cols="2" md-cols-gt-lg="4" md-row-height="1:1" md-gutter="12px">
      <md-grid-tile ng-repeat="card in ::modes.list" ng-class="{disabled: card.disabled}" mdx-paint-bg="accent" ng-click="modes.handleClick(card)">
          <bng-icon style="color: white; width: 40%;" src="card.icon" type="sprite"></bng-icon>
        <md-grid-tile-footer>
          <h2 style="margin: 0" ng-if="!card.disabled">{{ ::card.translateid | translate }}</h2>
          <div ng-if="card.disabled" style="margin: 5px;">
            <span>{{ ::card.translateid | translate}}</span>
            <br />
            <span><b>{{ 'ui.playmodes.comingSoon' | translate}}</b></span>
          </div>
        </md-grid-tile-footer>
      </md-grid-tile>
    </md-grid-list>
  </div>
</md-content>