<link rel="stylesheet" type="text/css" href="modules/scenariocontrol/scenariocontrol.css" />

<style type="text/css">
  .actionbutton {
    padding: 10px;
    font-size: 1.4em;
    border: solid 2px white;
    text-transform: uppercase;
    background: none;
    font-family: Open Sans Bold;
    color: orange;
    margin: 10px;
    min-width: 100px;
  }

  .actionbutton:hover {
    background: orange;
    color: white;
    border-color: orange;
  }

  .actionbutton:focus {
    background: orange;
    color: white;
    border-color: orange;
  }

  .slideInRight {
    left: -350px;
    -webkit-animation: slideInRight 0.5s forwards;
    -webkit-animation-delay: 0.1s;
  }
  @-webkit-keyframes slideInRight {
      100% { left: 0; }
  }

  .slideInDown {
    margin-top: -350px;
    -webkit-animation: slideInDown 0.5s forwards;
    -webkit-animation-delay: 0.1s;
  }
  @-webkit-keyframes slideInDown {
      100% { margin-top: 0; }
  }
</style>
<div class="filler" bng-nav-root>
  <md-content ng-if="scenarioStart.data.introType === 'portrait'" style="padding:35px;width: 100%; height: 100%; background-color: transparent; color: white;" layout="column">
    <div style="width: 80%;">
      <!-- TODO: replace this with gradient from garage as soon as that is updated -->
      <div style="padding:10px;font-size: 3em; padding-left: 20px; font-weight: bold;color:white;background-color: rgba(0, 0, 0, 0.8);background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.8) 350px, transparent);">
        {{ scenarioStart.data.name | translate }}
      </div>
    </div>

    <div style="width: 350px; background-color: rgba(0, 0, 0, 0.8);" flex layout="column" layout-align="start center" class="md-padding">
      <img style="margin:0;margin-bottom: 15px; max-width: 80%; max-height: 300px;" ng-src="/{{ scenarioStart.data.portraitImg.start }}" ng-if="scenarioStart.data.portraitImg.start !== undefined">

      <div class="instructions" style="font-size:1.3em; overflow: auto; margin-bottom: 15px;" bng-translate="{{:: scenarioStart.data.portraitText}}" flex></div>

      <div layout="row" layout-align="end center" style="width: 100%;">
        <button bng-nav-item bng-nav-default-focus="true" bng-sound="{click: 'event:>UI>Main Select'}" class="actionbutton" id="scenario-start-btn" ng-click="scenarioStart.play()" ng-class="{'md-raised': scenarioStart.data, 'md-accent': scenarioStart.data}">
          {{:: 'ui.scenarios.start.start' | translate}}
        </button>
      </div>
    </div>

    <div ng-if="scenarioStart.data.userCheckSettings" layout="column" class="md-padding" style="position: absolute; left: 400px; width: 350px; bottom: 35px; min-height:100px; background-color: rgba(0, 0, 0, 0.8)">
      <div layout="column" ng-repeat="(key, val) in scenarioStart.data.userCheckSettings">
        {{:: val.msg}}
        <!-- <div layout="row"> -->
          <md-select aria-label="." style="background-color: white; color:black;" ng-model="scenarioStart.userSettings.values[key]" ng-change="scenarioStart.applySettings(key)">
            <md-option ng-repeat="option in scenarioStart.userSettings.options[key].modes.keys track by $index" ng-value="option">{{scenarioStart.userSettings.options[key].modes.values[$index] | translate}}</md-option>
          </md-select>
          {{val.options[scenarioStart.userSettings.values[key]]}}
          <!-- </div> -->
      </div>
    </div>

  </md-content>


  <md-content ng-if="scenarioStart.data.introType !== 'portrait' && scenarioStart.data.introType !== 'selectableVehicle'" style="width: 100%; height: 84%; position: absolute; bottom: 8%; background-color: transparent; color: white;" layout="column" layout-align="end center">
    <div style="width: 600px; background-color: rgba(0, 0, 0, 0.7);" layout="column" class="md-padding" ng-style="{'height': scenarioStart.data.introType === 'htmlOnly' ? '100%' : '', 'padding': scenarioStart.data.introType === 'htmlOnly' ? '' : '0'}">
      <ng-include flex ng-if="scenarioStart.data.introType === 'htmlOnly' && !!scenarioStart.data.descriptionHref" src="scenarioStart.data.descriptionHref" style="overflow-y: auto;"></ng-include>

      <div ng-if="scenarioStart.data.introType === 'htmlOnly' && !scenarioStart.data.descriptionHref" flex>
        <h2>{{ scenarioStart.data.name | translate }}</h2>
        <div ng-bind-html="scenarioStart.data.description"></div>
      </div>

      <div ng-if="scenarioStart.config.vehicles" style="text-align: center;">Steer with your controller in order to choose a vehicle:</div>
      <div ng-if="scenarioStart.config" layout="row" layout-wrap style="text-align: center;">
        <div ng-if="vv != ''" ng-repeat="(vk, vv) in scenarioStart.config.vehicles track by $index" style="min-width: 100px; max-width: 150px; margin: 5px;" flex layout="column" ng-style="{'color': (!scenarioStart.config.inv[vv] ? 'white' : 'salmon')}">
          <div style="height: 32px;">
            {{vv}}
            <md-divider ng-style="{'border-top-color': (!scenarioStart.config.inv[vv] ? 'white' : 'salmon')}" ng-if="vv"></md-divider>
          </div>
          <div ng-repeat="(pk, pv) in scenarioStart.config.players track by $index" style="height: 50px; margin: 5px;">
            <div ng-if="pv == vk" layout="column" layout-align="center center">
            <!-- unfortunatly it has to be == here since === does not work -->
              <ng-md-icon class="material-icons" style="font-size: 2em;">
                {{ scenarioStart.getIconName(pk) }}
              </ng-md-icon>
              <small style="width:150%">{{ scenarioStart.config.devices[pk][1] }}</small>
            </div>
          </div>
        </div>
      </div>
      <div ng-show="scenarioStart.config.invalidMsg" style="color:salmon; text-align: center;"><span class="material-icons" style="font-size:1.0em;">warning</span> <strong>{{scenarioStart.config.invalidMsg}}</strong></div>

      <md-button bng-nav-item bng-nav-default-focus="true" bng-sound="{click: 'event:>UI>Main Select'}" id="scenario-start-btn" md-no-ink ng-click="scenarioStart.play()" ng-disabled="!scenarioStart.config.playerValid" ng-class="{'md-raised': scenarioStart.data.introType === 'htmlOnly', 'md-accent': scenarioStart.data.introType === 'htmlOnly'}" ng-style="{'background-color': scenarioStart.data.introType === 'htmlOnly' ? '' : 'transparent'}" ng-show="scenarioStart.showStartButton">
        <div flex layout="row" layout-align="center center" style="font-size: 2em;">
          <!-- <binding style="font-size: 0.8em; margin-right: 0.4em;" action="menu_item_select"></binding> -->
          {{:: 'ui.scenarios.start.start' | translate}}
        </div>
      </md-button>
    </div>
  </md-content>
    
  <md-content bng-nav-root ng-if="scenarioStart.data.introType === 'selectableVehicle'" layout-fill style="position: relative;" layout="row" layout-align="center center" class="quickraceOverview transparent filler">
    <div flex style="max-width: 140vh;">
      <md-grid-list md-cols="10" md-row-height="18:25" md-gutter="2vh">

        <md-grid-tile md-rowspan="2" md-colspan="3">
          <div class="filler tile" ng-class="{'disabled': false}" layout="column">
            <div ng-show="scenarioStart.data.name" class="header" layout="row" layout-align="start center" style="opacity: 1;">
              {{ :: scenarioStart.data.name | translate }}
            </div>
  
            <div class="filler darkbg" style="overflow: auto;">
              <div ng-bind-html="scenarioStart.data.description" style="padding: 2%"></div>
            </div>
          </div>
        </md-grid-tile>
  
        <md-grid-tile md-rowspan="2" md-colspan="7">
          <div class="filler tile" layout="row" ng-click="scenarioStart.selectVehicle()" bng-nav-item>
            <div flex="60" layout="column">
              <div class="header" layout="row" layout-align="start center">
                <div ng-if=":: vehicle.official" layout="row" layout-align="center center" style="margin: 0 10px;">
                  <img src="images/beamng_logo_50x50.png" height="22px" style="-webkit-filter: brightness(0) invert(1);" />
                  <md-tooltip md-direction="top">
                    Official
                  </md-tooltip>
                </div>
                {{vehicle.name}}
              </div>
  
              <div flex style="overflow: hidden; position: relative;">
                <imageslider imageurls="vehicle.preview" class="mockedCover"></imageslider>
              </div>
            </div>
  
            <div flex="40" class="darkbg" layout="column" style="overflow: auto;">
              <md-list>
                <md-list-item class="md-2-line">
                  <md-icon ng-hide="vehicle.file.Country" class="material-icons color1" style="font-size: 2em">info</md-icon>
                  <country-flag src="vehicle.file.Country" ng-if="vehicle.file.Country != missing" style="margin-top: 16px; margin-bottom: 12px; margin-right: 27px;"></country-flag>
                  
                  <div class="md-list-item-text">
                    <h3 class="color1">{{ 'ui.quickrace.country' | translate }}</h3>
                    <p class="color1" ng-if="vehicle.file">{{ vehicle.file.Country | translate}}</p>
                    <p class="color1" ng-if="!vehicle.file">{{ :: 'ui.common.unknown' | translate}}</p>
                  </div>
                </md-list-item>
  
                <md-list-item class="md-2-line">
                  <md-icon class="material-icons color1" style="font-size: 2em">info</md-icon>
                  <div class="md-list-item-text">
                    <h3 class="color1">{{ 'ui.quickrace.brand' | translate }}</h3>
                    <p class="color1" ng-if="vehicle.file">{{ vehicle.file.Brand | translate }}</p>
                    <p class="color1" ng-if="!vehicle.file">{{ :: 'ui.common.unknown' | translate}}</p>
                  </div>
                </md-list-item>
  
                <md-list-item class="md-2-line">
                  <md-icon class="material-icons color1" style="font-size: 2em">info</md-icon>
                  <div class="md-list-item-text">
                    <h3 class="color1">{{ 'ui.quickrace.derby' | translate }}</h3>
                    <p class="color1" ng-if="vehicle.file">{{ vehicle.file['Derby Class'] | translate }}</p>
                    <p class="color1" ng-if="!vehicle.file">{{ :: 'ui.common.unknown' | translate}}</p>
                  </div>
                </md-list-item>
              </md-list>
            </div>
  
            <div class="title">
              {{ :: 'ui.quickrace.selectVehicle' | translate }}
            </div>
          </div>
        </md-grid-tile>
  
        <md-grid-tile md-colspan="10" md-rowspan="1" layout="row" layout-align="bottom center">
          <div ng-click="scenarioStart.play();" class="playBtn" bng-nav-item bng-nav-default-focus="true" style="font-size: 5vh; padding: 10px; text-align: center; min-width: 300px;" ng-class="{'disabled': isDisabled()}" nav-item-disabled="{{isDisabled()}}">
            {{ :: 'Start' | translate }}
          </div>
        </md-grid-tile>
      </md-grid-list>
    </div>
  
    </div>
  
  <!-- Hacky as hell, but easies wy to not have a fight between spatial nav and crossfire -->
    <div class="backBtn" ui-sref="menu.mainmenu" bng-nav-item layout="row" layout-align="center center" ng-if="app.mainmenu">
      <md-icon class="material-icons" style="font-size: 1em;">keyboard_backspace</md-icon>
      {{ 'ui.mainmenu.background.back' | translate}}
    </div>
  </md-content>
</div>