<link type="text/css" rel="stylesheet" href="modules/garageNew/garageSelect/select.css">

<div class="background" bng-blur></div>

<div ng-cloak class="container select" bng-nav-root root-nav-actions="{up: {cmd: 'up()', navigation: true}, down: {cmd: 'down()', navigation: true}, left: {cmd: 'left()', navigation: true}, right: {cmd: 'right()', navigation: true}}">
  <div class="container" style="left: 16px; right: 16px;" bng-nav-item bng-nav-default-focus="true" item-nav-actions="{confirm: {cmd: 'confirm()', name: 'ui.actions.spawn', navigation: false}}">
    <bng-grid rows="9" cols="16" class="filler">

      <bng-grid-item col="1" row="8" colspan="2" rowspan="2" class="color2">
        <gp-circle style="position: absolute; top: calc(50% - 10px); left: calc(50% - 10px);"></gp-circle>
        <!-- 10px = 1/2 circle dim
          30px = one extra side of the gradient
          34px = arrow height
          2.5px = 1/2 gradient height -->
        <gp-gradient style="position: absolute; bottom: calc(50% + 15px); left: calc(50% - 2.5px); height: calc(7%);" orientation="vertical" reverse="true"></gp-gradient>
        <gp-gradient style="position: absolute; left: calc(50% + 15px); top: calc(50% - 2.5px); width: calc(10%);"></gp-gradient>
        <!-- <div style="width: 10%; height: 7%; left: calc(50% - 1.5px); bottom: calc(50% - 1.5px); position: absolute;">
          <gp-gradient-corner horizontal="'bottom'" vertical="'left'" active="false"></gp-gradient-corner>
        </div> -->
      </bng-grid-item>

      <bng-grid-item col="3" row="2" colspan="13" rowspan="6" layout="row" layout-align="center stretch" class="info">
        <gp-panel navigatable="false" class="filler infoPanelLeft" rotated="true" part="true" style="width: 250px;">
          <div class="filler" layout="column" layout-align="space-between start" style="min-height: 400px; max-height: 600px; direction: ltr;">
            <div ng-repeat="key in gpSelect.overviewKeylist track by $index" ng-if="gpSelect.showData(key, false)" layout="column" class="infoItem font1 color1">
              <span class="heading font2 color2">{{:: key}}</span>
              <span ng-if=":: !gpSelect.isRealRange(key)">{{ gpSelect.considerUnit(key, gpSelect.keyExists(key, gpSelect.getCurrentConfig()[key])) }}</span>
              <span ng-if=":: gpSelect.isRealRange(key)">{{ gpSelect.considerUnit(key, gpSelect.keyExists(key, gpSelect.getCurrentConfig()[key]).min) }} - {{ gpSelect.considerUnit(key, gpSelect.keyExists(key, gpSelect.getCurrentConfig()[key]).max) }}</span>
            </div>
          </div>
        </gp-panel>

        <div class="filler infoPanelRight infoPanelLeft" style="position: relative;" flex>
          <div style="position: relative;">
            <gp-heading style="position: absolute; bottom: 20px; right: 40px; left: 0;">
              <div flex layout="row" layout-align="space-between end" class="title">
                <div>
                  <img style="height: 60px; position: relative; bottom: -17px;" ng-src="{{gpSelect.models[gpSelect.selectedModel].logo}}" ng-if="gpSelect.models[gpSelect.selectedModel].logo !== undefined" />
                  <span>{{gpSelect.getCurrentConfig().Name}}</span>
                </div>
                <span class="font1 years color2" ng-if="gpSelect.getCurrentConfig().aggregates.Years.min !== undefined">{{gpSelect.getCurrentConfig().aggregates.Years.min}} - {{gpSelect.getCurrentConfig().aggregates.Years.max}}</span>
              </div>
            </gp-heading>
          </div>
          <gp-panel navigatable="false" middle="true" flex>
            <div class="filler" ng-style="{'background': gpSelect.getCurrentConfig().previewGarage !== undefined ? 'url(' + (gpSelect.getCurrentConfig().previewGarage === '/ui/images/emptyBackground.png' ? '/ui/images/AppDefault.png' : gpSelect.getCurrentConfig().previewGarage) + ') center center / cover no-repeat' : '', 'background-size': 'cover'}" style="position: relative;">
              <div class="font2 color2" style="position: absolute; top: 10px; right: 10px;" layout="column">
                <div layout="row" layout-align="end center" style="height: 40px; margin-bottom: 7px;">
                  <div style="margin-right: 10px;">{{gpSelect.getCountry()}}</div>
                  <country-flag src="gpSelect.getCountry()" ng-show="gpSelect.getCountry() != 'missing'" layout></country-flag>
                </div>
                <span ng-if="gpSelect.getCurrentConfig().Value" style="font-size: 14pt;" layout="row" layout-align="end center" class="color1 font1">
                  ${{gpSelect.getCurrentConfig().Value | numStr:','}}
                </span>
              </div>

              <div ng-if="gpSelect.getCurrentConfig().aggregates.Source['BeamNG - Official']" class="color1" style="position: absolute; bottom: 10px; left: 10px;" layout="row" layout-align="center center">
                <bng-icon style="margin-right: 8px; width: 22px; height: 22px; position: relative;" src="'general_beamng_logo_w'" type="sprite"></bng-icon>
                <span class="font2 color1">{{:: 'ui.common.official' | translate}}</span>
              </div>

              <div ng-if="gpSelect.getCurrentConfig().Type === 'Automation'" class="color1" style="position: absolute; bottom: 10px; left: 10px;" layout="row" layout-align="center center">
                <bng-icon style="margin-right: 8px; width: 22px; height: 22px; position: relative;" src="'Assets/camshaft_automation_logo.svg'" type="img"></bng-icon>
                <span class="font2 color1">{{:: 'Automation' | translate}}</span>
              </div>

              <div class="font2 color2" style="position: absolute; bottom: 10px; left: 100px; right: 100px;" layout="row" layout-align="center center">
                <md-icon class="material-icons" style="color: currentColor; margin: 5px;">info</md-icon>
                {{gpSelect.getCurrentConfig().Description}}
              </div>
            </div>
          </gp-panel>
        </div>

        <gp-panel navigatable="false" class="filler infoPanelRight" part="true" style="width: 350px;">
          <div class="filler" layout="column" layout-align="space-between start" style="min-height: 400px; max-height: 600px;">
            <div layout="column" class="infoItem font1 color1">
              <span class="heading font2 color2">Torque</span>
              <span>{{ gpSelect.considerUnit('Torque', gpSelect.getCurrentConfig()['Torque']) }} @ {{ gpSelect.getCurrentConfig()['TorquePeakRPM']}} rpm</span>
            </div>

            <div layout="column" class="infoItem font1 color1">
              <span class="heading font2 color2">Power</span>
              <span>{{ gpSelect.considerUnit('Power', gpSelect.getCurrentConfig()['Power']) }} @ {{ gpSelect.getCurrentConfig()['PowerPeakRPM']}} rpm</span>
            </div>

            <div ng-repeat="key in gpSelect.perfKeyList track by $index" ng-if="gpSelect.showData(key, true)" layout="row" layout-align="space-between center" class="listItem infoItem font1 color1">
              <span class="heading font2 color2">{{:: key}}</span>
              <span ng-if=":: !gpSelect.isRealRange(key)">{{ gpSelect.considerUnit(key, gpSelect.keyExists(key, gpSelect.getCurrentConfig()[key])) }}</span>
              <span ng-if=":: gpSelect.isRealRange(key)">{{ gpSelect.considerUnit(key, gpSelect.keyExists(key, gpSelect.getCurrentConfig()[key]).min) }} - {{ gpSelect.considerUnit(key, gpSelect.keyExists(key, gpSelect.getCurrentConfig()[key]).max) }}</span>
            </div>
          </div>
        </gp-panel>
      </bng-grid-item>

      <bng-grid-item col="1" row="2" colspan="2" rowspan="6">
        <gp-img-list horizontal="false" navigatable="false" increase-func="increaseModel" decrease-func="decreaseModel" class="container" active="true" ratio="16/9" reverse="true" list="gpSelect.models" selected="gpSelect.selectedModel" left="gpSelect.last === 'up'" right="gpSelect.last === 'down'"></gp-img-list>
      </bng-grid-item>

      <bng-grid-item col="3" row="8" colspan="13" rowspan="2">
        <gp-img-list horizontal="true" navigatable="false" increase-func="increaseConfig" decrease-func="decreaseConfig"  class="container" active="true" ratio="16/9" list="gpSelect.models[gpSelect.selectedModel].configs" sort-by="gpSelect.sortByValue" selected="gpSelect.selectedConfigs[gpSelect.selectedModel]" left="gpSelect.last === 'left'" right="gpSelect.last === 'right'"></gp-img-list>
      </bng-grid-item>

    </bng-grid>
  </div>
</div>
