<md-content class="filler" style=" background-color:rgba(255,255,255,0.8); overflow: hidden;">
  <md-toolbar layout="row">
    <div class="md-toolbar-tools">
      <span flex>Performance</span>
      <span style="margin-right: 10px" ng-if="vsync"> [VSync ON] </span>
      <span style="margin-right: 10px" ng-if="fps_limiter"> [FPS Limiter] </span>
      <md-button ng-click="tempHideUI()">
        {{:: 'ui.performance.tempHide' | translate }}
      </md-button>
    </div>
  </md-toolbar>

  <div class="filler" style="position: relative;">
    <performance-graph class="container" style="overflow: auto; display: block;"></performance-graph>
  </div>
</md-content>