<style>
  md-tab-content, md-tab-content > div {
    height:100%;
    box-sizing: border-box;
    overflow:hidden;
  }

  .replayList {
    min-width:500px;
    max-width:700px;
    width: 27%;
    height: 100%
  }
</style>

<md-content layout="column" class="replayList" style="width: 400px;">
  <md-toolbar class="md-primary">
    <h1 class="md-toolbar-tools">
      <span flex>{{ ::'ui.dashboard.replay' | translate }}</span>
    </h1>
  </md-toolbar>
  <md-content style="box-sizing:border-box; height: 100%;" layout="column">
    <md-list layout="column" flex style="overflow: auto">
      <div ng-show="replay.loadedFile" style="padding: 15px;">
          <div flex ui-sref="appedit" style="cursor:pointer;">{{ ::'ui.replay.appHint' | translate }}</div>
      </div>
    <md-list/>
    <md-list layout="column" flex style="overflow: auto">
      <md-button ng-click="replay.openReplayFolderInExplorer()" class="md-raised md-primary">{{ :: 'ui.replay.openReplayFolderInExplorer' | translate}}</md-button>
    <md-list/>
    <md-list layout="column" flex style="overflow: auto">
      <div ng-repeat="item in replay.list" layout="row" layout-align="center center" style="padding: 5px 15px; outline:none; cursor: pointer; height: 45px;" class="markEveryOddChild">
          <md-button ng-hide="replay.loadedFile == item.filename" md-no-ink class="md-fab md-mini md-primary" ng-click="replay.play($event, item.filename)">
            <md-icon class="material-icons">play_arrow</md-icon>
            <md-tooltip>{{ :: 'ui.replay.play' | translate}}</md-tooltip>
          </md-button>
          <md-button ng-show="replay.loadedFile == item.filename" md-no-ink class="md-fab md-mini md-accent" ng-click="replay.stop($event)">
            <md-icon class="material-icons">stop</md-icon>
            <md-tooltip>{{ :: 'ui.replay.stop' | translate}}</md-tooltip>
          </md-button>
          <div ng-click="replay.play($event, item.filename)" flex>{{item.filename.replace("\.rpl", "").replace("replays/", "") }}
            <md-tooltip>{{ :: 'ui.replay.play' | translate}}</md-tooltip>
            <!--
            <md-tooltip>{{ :: 'ui.replay.rename' | translate}}</md-tooltip>
            -->
          </div>
          <small>{{ item.size | bytes }}</small>
          <md-button class="md-icon-button md-warn" style="margin:0px; width: 24px" ng-disabled="replay.loadedFile == item.filename" md-no-ink ng-click="replay.remove($event, item.filename)">
            <md-icon class="material-icons">delete_forever</md-icon>
            <md-tooltip>{{ :: 'ui.replay.remove' | translate}}</md-tooltip>
          </md-button>
      </div>
    </md-list>
  </md-content>
</md-content>
