<!-- Header with icons -->
<div layout="row" layout-align="center center" style="width: 100%; height: 150px;">

<!--   <div class="menuItem" layout layout-align="center center">
    <object class="controllerKey" type="image/svg+xml" data="modules/garageNew/elements/lb.svg"></object>
  </div>
 -->
  <!-- <div class="menuItem btn" ng-class="{'active': gp.isState(item.href)}" ui-sref="{{item.href}}" ng-repeat="item in gp.menus" bng-blur radius="30px" layout layout-align="center center" ng-style="{'margin-left': gp.spaceBefore.indexOf(item.name) !== -1 ? '40px' : ''}">
    <md-icon class="material-icons" style="color: inherit; font-size: 48px;">{{:: item.icon}}</md-icon>
  </div> -->

  <!-- <gp-menu-btn class="menuItem" title="{{:: item.name}}" active="gpProtoMenu.isActive(item)" ng-click="gpProtoMenu.handleMenuChange(undefined, $index)" icon="item.icon" ng-repeat="item in gpProtoMenu.menus track by $index" ng-style="{'margin-left': gpProtoMenu.spaceBefore.indexOf(item.name) !== -1 ? '40px' : ''}"></gp-menu-btn> -->


  <!-- <div class="menuItem" layout layout-align="center center">
    <object class="controllerKey" type="image/svg+xml" data="modules/garageNew/elements/rb.svg"></object>
  </div> -->
  <div ng-if="garageTitle" layout="row" layout-align="center center" style="width: 80%; height: 50%;background-color: rgba(0, 0, 0, 0.4); border: solid rgba(255, 255, 255, 0.35) 3px; ">
    <div layout-align="center center" class="heading font1 color1" style="font-size: 2em">
      {{garageTitle}}
    </div>
  </div>

</div>

<!-- view dependent content -->
<!-- the wrapper is important here, so the border doesn't have blured background as well -->
<div style="position: relative" flex ui-view></div>

<!-- footer with hints -->
<div style="height: 100px; margin: 0 5%; font-size: 22px;" layout="row" layout-align="end center">
  <bng-nav-possible-actions></bng-nav-possible-actions>
</div>