<div style="height:100%; width:100%;" class="bngApp">
  <div layout="column" style="width: 100%; height: 100%;">
    <div style="width: 100%; height: 40px; font-size: 25px; text-align:center; text-shadow: 2px 2px 2px #000000" ng-style="{'background-color':customerColor}">
      {{stats.status}}
    </div>
    <div layout="row">
      <div style="width: 50%; height: 100px; text-align:center;">
        <div style="width: 50%; height: 100px; float:left;">
          <div>
            Total
          </div>
          <div>
            Fare
          </div>
          <div>
            <a ng-if="stats.tip > 0 || tip_ > 0">Tip</a>
          </div>
        </div>
        <div style="width: 50%; height: 100px; overflow: hidden;">
          <div>
            {{formatNumber(total, 10)}}
          </div>
          <div>
            <a ng-if="stats.newCustomer != true">{{formatNumber(fare_, 10)}}</a>
            <a ng-if="stats.newCustomer == true">{{formatNumber(stats.fare, 10)}}</a>
          </div>
          <div>
            <a ng-if="tip_ > 0">{{formatNumber(tip_, 10)}}</a>
            <ng-template ng-if="tip_ == 0">
              <a ng-if="stats.tip > 0"  ng-style="{'color':objectiveColor}">{{formatNumber(stats.tip, 10)}}</a>
            </ng-template>
          </div>
        </div>
      </div>
      <div style="width: 50%; height: 100px; font-size: 25px; text-align:center; vertical-align: middle;" ng-style="{'color':objectiveColor}">
        <a ng-if="stats.mood == 1 && stats.distance > 0">{{formatNumber(stats.timeLeft, 1)}}</a>
        <a ng-if="stats.mood == 2 && stats.distance > 0">{{formatNumber(g, 10)}}</a>
      </div>
    </div>
    <div style="width: 100%; height: 40px; font-size: 15px; text-align:center; text-shadow: 2px 2px 2px #000000">
      <a ng-if="stats.fare > 1">{{stats.message}}</a>
    </div>
  </div>
</div>