.garage .background {
  background-color: rgba(0, 0, 0, 0.4);
  border-top: solid rgba(255, 255, 255, 0.35) 3px;
  border-bottom: solid rgba(255, 255, 255, 0.35) 3px;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  width: 100vw;
}


.garage .select .info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 170px;
  left: 290px;
  padding-top: 75px;
  padding-right: 75px;
}
  /*color: rgba(200, 200, 200, 0.75);*/

.garage .select .infoPanelLeft {
  margin-right: 5px;
}

.garage .select .infoPanelRight {
  margin-left: 5px;
}

.garage .select .bottomList {
  position: absolute;
  right: 75px;
  bottom: 0;
  left: 290px;
  height: 170px;
}

.garage .select .leftList {
  position: absolute;
  top: 75px;
  bottom: 230px;
  left: 0;
  width: 290px;
}

.garage .select .infoItem {
  /*margin: 12px;*/
  /*margin-bottom: 25px;*/
  font-size: 20px;
  color: white;
  width: 100%;
}

.garage .select .listItem {
  /*margin-top: 8px;*/
  /*margin-bottom: 8px;*/
}

.garage .select .infoItem .heading {
  font-size: 20px;
}

.garage .select .title {
  font-size: 20px;
}

.garage .select .title .years {
  font-size: 22px;
}

.garage .money {
  color: white;
}

.garage .insufficient-funds {
  color: rgb(173, 56, 56);
  transform: translate3d(0, 0, 0);
  -webkit-animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

@-webkit-keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}